#FILES

*.apk
*.ap_
*.dex
*.class
*.iml
*.log
/.idea/workspace.xml
/.idea/vcs.xml
/.idea/misc.xml
local.properties
.DS_Store

#DIRECTORIES

bin/
gen/
.gradle/
build/
proguard/
.navigation/
captures/
/.idea/libraries
/captures

